@import "../scss/base";
@import "../scss/mixin";

.input_container {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  margin-top: 1rem;

  & div {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    border: 1px solid #ccc;
    margin-right: 1rem;
  }

  & form {
    flex: 1;
    & input {
      outline: none;
      border: none;
      caret-color: blue;
      width: 100%;
      padding: 0.5rem 1rem;
      background-color: inherit;
      color: currentColor;

      @include respond(tablet){
        font-size: 16px !important;
      }

      &::placeholder {
        font-style: italic;
      }

      &:focus {
        outline-offset: 0;
      }
    }
  }
}

.light {
  background-color: $color-text-l-4;
  color: $color-text-d-bg;
}

.light input::placeholder {
  color: $color-text-d-2;
}

.dark {
  background-color: $color-text-d-bg;
  color: $color-text-l-4;
}

.dark input::placeholder {
  color: rgba($color-text-l-4, 0.5);
}
