@import "../scss/base";

ul {
  list-style-type: none;
  overflow-y: auto;
  height: 100%;
}
.state-container {
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  margin-top: auto;

  & .p {
    font-size: 1.7rem;
    margin: 0.5rem;
  }

  & li {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: 1px solid #ccc;
  }

  &__states {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  &__clear-completed {
    margin: 0.5rem 0.5rem 0.5rem auto;
    font-size: 1.7rem;
    cursor: pointer;
  }
}
