@import "../scss/base";
@import "../scss/animation";

ul {
  list-style-type: none;
  overflow-y: auto;
  height: 100%;
}
.state-container {
  width: 100%;
  display: flex;
  padding: 0.5rem 1rem;
  margin-top: auto;

  & .p {
    font-size: 1.7rem;
    margin: 0.5rem;
  }

  &__states {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  &__clear-completed {
    margin: 0.5rem 0.5rem 0.5rem auto;
    font-size: 1.7rem;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
}
