@import "./scss/base.scss";
@import "./scss/mixin";
/* General reset code */

*::before,
*::after,
* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 87.5%; /* 1rem = 14px */

  @include respond(bigLaptop) {
    font-size: 75%; /* 1rem = 12px */
  }

  @include respond(laptop) {
    font-size: 62.5%; /* 1rem = 10px */
  }

  @include respond(tablet) {
    font-size: 56.25%; /* 1rem = 9px */
  }
}

body {
  font-family: $font-display;
}

.light {
  background-color: $color-bg-l;
}

.dark {
  background-color: $color-box-d-shadow;
}

.app {
  min-height: 100vh;
  padding-bottom: 5rem;
}
